@import "/css/admin_main_style.css";

.login-signup-modal.mt-200 {
	margin-top: 15%;
}

.m-4.top {
	margin: 0px !important;
	background-color: #152245 !important;
}

.bg-light {
	background-color: #152245 !important;
}



.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

a {
	text-decoration: none;
}

span.admin_name {
	font-size: 17px;
	color: #fff;
	line-height: 45px;
	font-weight: 200;
	margin-right: 15px;
	text-decoration: none;
}

span.admin_name .badge {
	padding:2px;
	font-size:11px;
	position: absolute;
	top:-28px;
}

img.admin_logo {
	border-radius: 90px;
	width: 45px;
	height: 45px;
	margin-right: 10px;
}

img.admin_student {
	border-radius: 90px;
	width: 40px;
	height: 40px;
}


label#page_header,
#cal_title {
	color: #0075bf;
	float: left;
	font-size: 18px;
	padding: 0;
	margin: 0;
	position: relative;
	text-align: left;
	border: 0px;
	width: 100%;
}

label.page_header.bold {
	font-weight: bold;
}

.nav-tabs .nav-link {
	padding-left: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	padding-left: 0;
	background-color: #fff;
	font-weight: bold;
	color: #3b75bf;
	cursor: default;
	background-color: #fff;
	border: 0;
	border-bottom: 4px solid #3b75bf;
}

header.panel-heading {
	margin: 0px 0;
}

nav {
	margin-bottom: 20px;
}

.section_header_class label {
	color: #152245;
	font-size: 20px;
	margin: 25px 0 20px 0;
	text-align: left;
	font-weight: bold;
}

.section_header_class label.invoice_subtitle {
	color: #152245;
	font-size: 18px;
	margin: 15px 0 12px 0;
	text-align: left;
	font-weight: bold;
}

#manual_invoice_page tbody,
#manual_invoice_page tr,
#manual_invoice_page th,
#manual_invoice_page td {
	border-color: #bdbdbd;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	outline: none;
}

.btn {
	padding: 0.55rem;
	font-family: "Gilroy-Medium";
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	min-height: 37px;
}

button.btn.btn-theme-warn.delete_tax,
button.btn.btn-theme-warn.delete_expense {
	margin-left: 19px;
	margin-top: 3px;
}

button#add_more_tax_btn,
button#add_more_expense_btn {
	max-width: 195px;
	font-size: 15px;
	padding: 9px;
}

.form-group.row {
	margin-bottom: 8px;
}

.form-group.row label {
	margin-top: 10px;
	color: #657e8e;
	font-size: 15px;
	padding: 0;
}

.form-group.row p {
	margin: 3px 0px;
	color: #657e8e;
	font-size: 15px;
	padding: 0;
}

.form-group.row label.currency_display,
.form-group.row p label {
	margin-top: 0px;
}

/* .form-group.row .text-right {
    text-align: right;
} */
.input-group-addon,
.input-group-btn {
	white-space: nowrap;
	vertical-align: middle;
}

.input-group-addon {
	padding: 10px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #0075bf;
	text-align: center;
	background-color: #b3d6ec;
	border: 1px solid #b3d6ec;
	border-radius: 4px;
}

.search_text_box {
	background-image: url("../img/search_icon.png") !important;
	background-position: right !important;
	background-repeat: no-repeat !important;
	width: 100%;
	/* border-radius: 100px; --round corner */
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyphicon-lock:before {
	content: "\e033";
}

.glyphicon-plus:before {
	content: "\2b";
}

#button_menu_div.pull-right>.dropdown-menu {
	right: 0;
	left: auto;
	transform: translate3d(0px, 35px, 0px) !important;
}

#button_menu_div.show>.dropdown-menu {
	display: block;
}

#button_menu_div .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
	box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.btn .caret {
	margin-left: 0;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid\9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.dot {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: inline-block;
	/*background-color: #FF0000;*/
	font-size: 0px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
}

.form-control {
	box-shadow: none !important;
	outline: none;
	font-size: 15px;
	color: #657e8e;
}

.error {
	border: 2px solid red;
	border-radius: 6px;
}

/* add language page css */

.page_title {
	margin-bottom: 40px !important;
}

.language_page label,
.email_template_page label,
.update_profile_page label {
	color: #657e8e;
	font-size: 15px;
	padding-right: 10px;
	margin-top: 10px;
}

.language_page .form-group.row,
.email_template_page .form-group.row,
.update_profile_page .form-group.row {
	margin-bottom: 10px;
}

.save_button,
.update_button {
	font-size: 14px;
	background-color: #97cc04;
	border: none;
}

.save_button:hover,
.update_button:hover {
	color: #000;
	background-color: #97cc04;
}

.save_button i.fa,
.update_button i.fa {
	margin-right: 2px;
	font-size: 14px;
}

.email_template_page .save_button,
.update_profile_page .save_button {
	margin-top: 10px;
}

.table-responsive {
	margin-top: 5px;
}

table#attn_tbl {
	border: 1px solid #e1eff7 !important;
}

.selectbox {
	position: relative;
}

.selectbox:after {
	font-family: FontAwesome;
	content: "\f078";
	line-height: 1;
	color: #0075bf;
	width: 25px;
	height: 33px;
	right: 1%;
	position: absolute;
	top: 10px;
}

h4.section_header_class {
	color: #152245;
	font-size: 20px;
	font-family: "Gilroy-Bold";
	margin: 15px 0;
	text-align: left;
	font-weight: normal;
	margin-bottom: 25px;
}

table.email_template {
	border: 1px solid #e1eff7 !important;
}

table.email_template td,
table.email_template th {
	vertical-align: middle;
	border: 1px solid #e1eff7;
	padding: 19px;

	display: block;
	width: 99.9%;
	clear: both;
}

table.email_template.school td,
table.email_template.school th {
	vertical-align: middle;
	border: none;
	padding: 19px;

	display: block;
	width: 99.9%;
	clear: both;
}

table.tc_template {
	border: 1px solid #e1eff7;
}

table.tc_template td,
table.tc_template th {
	vertical-align: middle;
	border: 1px solid #e1eff7 !important;
	padding: 19px;

	display: block;
	width: 99.9%;
	clear: both;
}

table.tc_template,
table.tc_template tr,
table.tc_template th,
table.tc_template td {
	/* border: 0px solid white; */

	line-height: 3em;
	padding: 0px;
	font-weight: bolder;
}

table.tc_template .detail_header {
	background-color: #ccccff;
	padding: 5px;
	border: 1px solid black;
	font-weight: bolder;
	text-align: center;
}

.delete_event,
.delete_location,
.delete_level {
	background-color: #ff8000;
	border-color: #ff8000;
	color: #fff;
	font-size: 18px;
}

.invoice_type_label {
	padding-left: 12%;
}

#nav-tab .nav-link {
	margin-right: 20px;
	color: #657e8e;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	border-top: 0px solid transparent;
}

#nav-tab .nav-link.active {
	color: #3b75bf;
}

#nav-tab .nav-link:hover {
	border: 0px;
	/*background-color: #3b75bf;*/
}

#nav-tab .nav-link.active:hover {
	border-bottom: 4px solid #3b75bf;
}

.navbar-nav.user-area {}

.navbar-nav.user-area a.user_profile {
	color: #fff;
	text-decoration: none;
	display: block;
	margin-right:5px;
	padding: 12px 10px 10px 10px;
	font-family: "Gilroy-Regular";
	font-size: 17px;
	outline: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.navbar-nav.user-area a.user_profile.active,
.navbar-nav.user-area a.user_profile:hover,
.navbar-nav.user-area a.user_profile:focus {
	background: #0075bf;
	margin-right:5px;
	color: #152245;
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.dropdown-menu.header.show,
.dropdown-menu.list.show {
	display: block;
	background: #10335f;
	border-radius: 0 0 8px 8px;
	max-width: 180px;
	margin-top: 2px;
	right: 0;
	left: auto;
	padding-top: 0;
	padding-bottom: 0;
}


.dropdown-menu.header a,
.dropdown-menu.list a {
	font-size: 12px;
	padding: 12px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #aeb2b7;
	line-height: 20px;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
}


.dro_set {
	width: 26px;
	margin-top: 7px;
	margin-left: 0px;
	padding: 0;
	padding-top: 16px;
	padding-bottom: 17px;
}

.dropdown-menu.header a:hover,
.dropdown-menu.list a:hover {
	color: #479ccf;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: block;
	background: #0075bf;
	border-radius: 0 0 8px 8px;
}

.dropdown-toggle::after {
	content: none;
}

.permission-btn {
	margin-left: 100px;
	background-color: gray;
}

.modal_parameter .modal-content p {
	font-size: 22px;
	color: #0075bf;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	padding: 0;
}

.modal_parameter .modal-footer {
	border: 0;
}

.modal_parameter .modal-footer {
	border: 0;
	width: 100%;
	display: block;
}

.modal_parameter .modal-footer button {
	margin: 0 auto;
	display: block;
	width: 120px;
}

input.error {
	border: 2px solid red;
}

.profile-image-cropper.responsive {
	display: flex;
	align-items: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-theme-success {
	background-color: #97cc04;
	border-color: #97cc04;
	color: #fff;
}

.btn-theme-warn {
	background-color: #ff8000;
	border-color: #ff8000;
	color: #fff;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
}

.teacher_save {
	position: fixed;
	top: 90px;
	right: 85px;
	z-index: 9999;
}

.btn_area {
	position: absolute;
	top: 95px;
	right: 7%;
	display: flex;
	grid-gap: 15px;
	z-index: 9;
}

.save_and_more_area {
	position: relative;
}

.save_and_more_area i{
	position: absolute;
	left: 35px;
	top: 13px;
	color: white;
}

#edit_event .btn_area {
	top: 95px;
}
#edit_event .btn_area {
  top: 145px;
}
a#delete_btn {
	display: none !important;
}

.tariff_table_rate label {
	display: inline-block;
	font-family: "Gilroy-Medium";
	color: #657e8e;
	font-size: 16px;
	padding: 6px 0px;
	text-transform: capitalize;
}

table.tariff_table_rate {
	border: 1px solid #e1eff7 !important;
}

.tariff_table_rate thead th {
	color: #152245;
	font-size: 17px;
	font-family: "Gilroy-Bold";
	font-weight: normal;
	padding: 1rem 0.5rem;
}

.tariff_table_rate thead th.buy,
.tariff_table_rate thead th.sell {
	text-align: right;
	font-size: 12px;
}

.tariff_table_rate thead span {
	width: 100%;
	text-align: right;
	float: left;
	font-size: 17px;
}

#example th {
	padding-left: 10px;
	background-color: transparent;
	font-weight: bold;
	font-family: "Gilroy-Medium";
}

#example tr,
#example tr td {
	padding-left: 10px;
	background-color: transparent;
}

button.btn.btn-primary.check {
	margin-left: 10%;
}

button#save_btn {
	font-size: 16px;
	min-width: 90px;
}

button#save_btn i {
	font-size: 16px;
	margin-right: 10px;
}

#example_filter label {
	float: left;
}

a.btn.btn-theme-success.add_teacher_btn {
	max-width: 200px;
	float: left;
	margin-left: 10px;
}

a.btn.btn-theme-success.add_teacher_btn img {
	margin-right: 6px;
}

div#example_filter {
	margin-bottom: 20px;
}

table.dataTable thead th,
table.dataTable thead td {
	/*padding: 10px 18px;
	border-bottom: 1px solid #e1eff7;*/
}

table.dataTable.no-footer {
	/*border: 1px solid #e1eff7 !important;*/
}

.dropdown-menu.action.header,
.dropdown-menu.action.list {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
	box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.dropdown-menu.action.header a,
.dropdown-menu.action.list a {
	display: flex;
	padding: 4px 10px;
	align-items: center;
	font-family: "Gilroy-SemiBold";
	font-weight: normal;
	font-size: 13px;
	color: black;
}

.dropdown-menu.action.header a:hover,
.dropdown-menu.action.list a:hover {
	color: #1e2125;
	background: #e9ecef;
}

.dropdown-menu.action.header i,
.dropdown-menu.action.list i {
	margin-right: 7px;
	font-size: 16px;
}

p.sub_heading {
	font-size: 15px;
	float: right;
	padding-right: 37%;
	position: relative;
	top: 15px;
}

img#frame {
	width: 150px;
	height: 150px;
	border-radius: 100%;
}

table#tariff_table_id {
	border: 1px solid #e1eff7 !important;
}

label#teacher_disc_perc_cap {
	margin-top: 20px;
}

label {
	color: #657e8e;
}

button#changer_btn {
	padding: 9px;
}

.p-l-n {
	padding-left: 0;
}

.p-r-n {
	padding-right: 0;
}

#all_day_div111 .col-sm-7 {
	margin-top: 12px;
}

.fc-time-grid .fc-slats td {
	height: 1em;
}

.fc-time {
	font-size: 85%;
}

.fc-time-grid-event .fc-time {
	display: inline;
}

span.etransfer_acc {
	color: red;
	margin-top: 7px;
	display: block;
}

.multiselect-container>li>a>label {
	padding: 3px 10px 3px 0px;
}

span.no_select {
	margin-top: 10px;
	float: left;
	font-weight: bold;
	min-width: 170px;
}

span.no_select input {
	width: 34px;
	height: 20px;
	float: left;
}

#addAgendaModal button#save_btn_more,
#addAgendaModal button#save_btn {
	float: right;
	margin: 30px 10px 0px 10px;
}
/*
div#add_lesson_success {
	margin-top: 120px;
}

#add_lesson_success .close {
	text-align: right;
	float: right;
	padding: 10px 20px 0px 20px;
}

#add_lesson_success .modal-content {
	border: 1px solid #0075bf;
	padding-bottom: 20px;
}

div#addAgendaModal {
	overflow-y: scroll;
}
*/
h3#add_lesson_success {
	text-align: center;
	font-size: 18px;
	color: red;
	margin-top: 5px;
}

button#save_btn_more i {
	padding-right: 10px;
}

#edit_lesson .btn_area {
	position: absolute;
	top: 118px;
	right: 7%;
	display: flex;
	grid-gap: 15px;
	z-index: 99;
	grid-gap: 15px;
	z-index: 22;
}

.pull-right.btn-group.cal_top {
	margin-top: 5px;
}

.btn_actions .section_header_class .card .card-body .btn {
	margin-bottom:5px;
}

.alertMessages .alert {
	min-height: 74px;
}
#resumeReport {
    display: none;
    text-align: right;
    position: fixed;
    right:6%;
    width: 150px;
}
@media only screen and (max-width: 768px) {
    #resumeReport {
        display: none;
        text-align: right;
        position:static;
        padding:10px;
        margin:0;
        width: 100%;

    }
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.select-options-list {
    list-style: none !important;
    margin-left: 0px !important;
    padding: 0 !important;
}
.multiselect optgroup {
    font-size:11px;
}
.hide-custom-price {
    display: none;
}
@media only screen and (max-width: 992px) {

	.btn_actions {
		width: 100%;
		bottom:0px;
		border-radius:0px;
		position: fixed;
		z-index: 9999;
		margin-bottom:3px;
	}

	.btn_actions .section_header_class .card .card-body
	{
		border-radius:0px;
	}

	#nav-tab .nav-link {
		width: 100%;
	}

    .calendar_buttons {
        padding: 5px;
        margin:2px;
    }

    .area-container {
        padding: 0;
    }

}

.invoice_search_box {
    width: 100%;
    text-align: left;
}

#info_invoice_report,#download_btn_report {
    display: none;
}

.report_action {
    width: 185px;
    text-align: center;
}

#table_container table tbody tr {
    margin-bottom: 25px;
}
@media (max-width: 767px) {

    .jQWCP-mobile {
      top: 50% !important;
      transform: translateY(-50%) !important;
      /* La ligne suivante est optionnelle, elle ajoute une transition pour un déplacement plus fluide */
      transition: top 0.3s, transform 0.3s;
      z-index: 999999!important;

    }
  }

@media only screen and (max-width: 768px) {

    #download_btn_report {
        padding-top:25px;
    }


	span.admin_name {
		font-size: 16px;
		color: #fff;
		line-height: 45px;
		font-weight: 200;
		margin-right: 10px;
		text-decoration: none;
		margin-right: 10px;
	}

	span.admin_name .badge {
		position: absolute;
		top:-18px;
	}

	.btn_actions {
		width: 100%;
		bottom:0px;
		border-radius:0;
		position: fixed;
		z-index: 999;
		margin-bottom:3px;
	}

	.btn_actions .section_header_class .card .card-body
	{
		border-radius:0;
	}

	.section_header_class .cat_name {
		font-size: 12px;
	}

	.language_page label,
	.email_template_page label,
	.update_profile_page label {
		text-align: left !important;
		padding-bottom: 8px;
	}

	.save_button {
		font-size: 14px;
		margin-top: 20px;
	}

	.table-responsive {
		margin-top: 20px;
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}

	.navbar-toggler {
		width: 60px;
	}

	span.icon-bar {
		height: 2px;
		background-color: #fff;
		margin: 5px 0;
		float: left;
		width: 100%;
	}

	.navbar-light .navbar-toggler {
		color: #fff;
		border: none;
		outline: none;
	}

	.section_header_class label {
		margin: 15px 0 0px 0px;
		font-size: 17px;
	}

	.form-group.row.invoice_part {
		margin-top: -4px;
		margin-left: 10px;
		font-size: 15px;
	}

	.form-group.row.invoice_part label {
		margin-top: 4px;
	}

	.below_space>div {
		margin-bottom: 10px;
	}

	.header-area {
		margin-bottom: 1px;
	}

	.pull-right.btn-group.cal_top {
		display: block;
		float: left;
		width: 100%;
	}

	div#button_menu_div {
		display: flex;
		float: left;
		width: 100%;
		flex-direction: row;
		position: unset;
		margin-top:0;
	}

	input#search_text {
		max-width: 68%;
		float: left;
	}

	a#add_lesson_btn {
		width: 28%;
		float: right;
		margin: 0;
		padding: 6px;
		position: absolute;
		top: 0px;
		right: 0px;
	}

	a#btn_export_events {
		float: left;
		width: 45%;
	}

	a#btn_export_events {
		float: left;
		width: 28%;
		padding: 9px;
		font-size: 16px;
		display: none;
	}

	a.btn.btn-theme-success.dropdown-toggle.btn-add-event {
		padding: 9px 14px;
	}

	button.btn.btn-theme-success.dropdown-toggle {
		height: 40px !important;
	}

	button#update_btn {
		right: 0;
	}

	div#nav-tab {
		display: flex;
		font-size: 14px;
		margin-top: 0px;
	}

	#nav-tab .nav-link {
		margin-right: 12px;
		padding-right: 3px;
	}

	#addAgendaModalWin .col-sm-7 {
		padding: 0;
	}

	#addAgendaModalWin .col-sm-6 {
		margin-bottom: 10px;
	}

	#addAgendaModalWin .lesson .col-sm-2 {
		padding-left: 0;
	}

	.cal_area {
		margin-top: 5px;
	}

	.col-sm-6.col-xs-12.btn-area {
		position: relative;
	}

	#ex1-content .col-sm-4 {
		margin-bottom: 10px;
	}

	.btn_area {
		z-index: 9;
	}

	#edit_lesson .btn_area {
		top: 140px;
	}

	#edit_lesson .btn.btn-theme-outline {
		display: none;
	}

	#all_day_div111 label {
		float: left;
		width: 20%;
	}

	#all_day_div111 .col-sm-7 {
		float: left;
		width: 25%;
		margin-top: 12px;
	}

	.btn {
		padding: 0.6rem;
		font-family: "Gilroy-Medium";
		font-weight: normal;
		font-size: 13px;
		line-height: 17px;
		min-height: 37px;
	}

	div#school_cal {
		display: flex;
		flex-direction: column;
	}

	/* .datetimepicker-days {
		display: none !important;
	} */

	span.no_select {
		margin-top: 15px;
		margin-left: -6px;
	}
}

/*
** New style css
*/
table.dataTable>thead>tr>th, table.dataTable>thead>tr>td, table.dataTable>tbody>tr>td {
border:1px solid #EEE!important;
}

table.dataTable {
    margin-bottom:20px;
    border-bottom:none!important;
}

.dataTables_wrapper .dataTables_filter input {
	padding: 3px;
	background-position: 158px 11px !important;
}

.dataTables_wrapper .paginate_button .current {
    width: 1px!important;
    height: 1px!important;
    background-color: #152245!important;
    color:#FFFFFF!important;
}

.dataTables_length {
    padding-top: 0px !important;
}

a.btn.btn-theme-success.add_teacher_btn {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.select2-container {
	width: 100% !important;
}

.select2-container .select2-selection--single {
	height: 38px;
	border: 1px solid #b3d6ec;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 38px;
}

.pc_only {
	display: block;
}

.sp_only {
	display: none;
}

.manual_inv_date {
	width: 15%;
}

.manual_inv_txt {
	width: 50%;
}

.lbl_date_invoice {
	width: 20%;
}

.lbl_date_invoice_date {
	width: 20%;
}

#manual_invoice_page .input-group-addon {
	display: block;
}

.m_invoice_info .row_hdr_invoice_name {
	display: inline-block;
	width: 100%;
}

.m_invoice_info .invoice_name {
	width: 30%;
}

.m_invoice_info .lbl_date_invoice {
	display: inline-block;
	width: 100%;
}

.m_invoice_info .date_invoice_div {
	width: 30%;
}

.bg-tertiary {
	background-color:rgba(246, 246, 248, 0.068);
}

@media (max-width: 767px) {
    .mobile-hide {
    display: none;
    }
}

.dataTables_length {
    padding: 10px 0; /* Ajouter du padding en haut et en bas */
}

.badge-btn {
    font-size:14px;
    cursor: pointer;
}

  @media (max-width: 767px) {
    .invoice_list_button {
        position: absolute;
        top:2px;
        right:2px;
    }
    .invoice_list_button .btn {
        padding: 1px; /* Réduit le padding vertical à 0, et maintient un petit padding horizontal */
        line-height: .5;
    }
    .badge-btn {
        font-size:12px;
        cursor: pointer;
    }
  }


@media only screen and (max-width: 768px) {
    .section_header_class  {
        font-size: 11px;
    }
    .lesson_table {
        border:1px solid #EEE;
        padding:5px;
    }
    .below_space {
        text-align: center;
    }
	.header-area {
		padding-top:15px;
		padding-bottom:0;
		margin-bottom:0;
	}
       .table_header_invoice {
    display: none!important;
    }

	.pc_only {
		display: none;
	}
	.sp_only {
		display: block;
	}

	#manual_invoice_page .input-group-addon {
		display: none;
	}

	.manual_inv_date {
		width: 30%;
	}

	.manual_inv_txt {
		width: 20%;
	}

	.manual_lbl_date_invoice {
		width: 20%;
	}

	.manual_lbl_date_invoice_date {
		width: 40%;
	}

	.m_invoice_info .row_hdr_invoice_name {
		display: none;
	}

	.m_invoice_info .invoice_name {
		width: 50%;
	}

	.m_invoice_info .lbl_date_invoice {
		display: none;
	}

	.m_invoice_info .date_invoice_div {
		width: 50%;
	}

	#main-content {
		margin-top: 75px;
	}

	#example_filter label {
		width: 100%;
	}

	#example_filter a {
		float: left;
	}

	.dataTables_wrapper .dataTables_filter,
	.dataTables_wrapper .dataTables_length {
		text-align: left;
	}

	.dataTables_wrapper .dataTables_filter input[type="search"] {
		width: 80%;
		margin-left: 10px;
	}

	a.btn.btn-theme-success.add_teacher_btn {
		height: 48px;
	}

	a.btn.btn-theme-success.add_teacher_btn:first-child {
		margin-left: 0;
	}

	.dataTables_wrapper .dataTables_filter input[type="search"] {
		max-width: 68%;
	}

	.students_list div#example_length {
		width: 100%;
		margin-bottom: 10px;
	}

	.students_list div#example_filter {
		width: 100%;
	}

	.students_list div#example_filter label {
		margin-bottom: 10px;
	}

	#csv_btn,
	.students_list .dataTables_wrapper .dataTables_filter input[type="search"] {
		margin-left: 0;
	}

	.invoice_list_header .btn-area {
		height: 42px;
		margin: 0 0 10px;
	}

	.invoce_search_box input#search_text {
		max-width: 87%;
		height: 42px;
		margin: 0;
	}

	.invoice_list_button .btn {
		height: 48px;
		color: #fff;
		margin-right: 10px;
	}

	.student_save_ext {
		top: 88px;
		height: 48px;
		position: fixed;
	}

	.teacher_save {
		position: fixed;
		top: 110px;
		right: 15px;
		z-index: 9;
		padding:1px;
		height: 15px;
	}

	.invoice_save_btn {
		position: fixed !important;
		top: 76px;
		right: 4%;
	}

	#edit_lesson .btn_area,
	#add_lesson .btn_area {
		top: 132px;
		right: auto;
	}

	#edit_event .btn_area,
	#student_off .btn_area,
	#coach_off .btn_area,
	#add_event .btn_area {
		top: 112px;
		right: auto;
	}

	.btn_area_fixed {
		position: fixed !important;
		top: 106px !important;
		right: auto !important
	}

}



/*
* top payment info section sp
*/

.subscription_info {
    width: auto;
	margin:0 auto;
	top:1px;
    height: 40px;
    left: 0px;
	padding-left:4px;
	padding-right:6px;
    top: 0px;
    background: #152245;
	color:white;
	border-top:1px solid #2b3069;
	box-shadow: 1px 1px 2px 1px rgba(2, 2, 12, 0.5);
	border-radius:8px;
}

.subscription_info .text-success p {
    height: 40px;
    display: flex;
    align-items:center;
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 12px;
    justify-content:center;
    color:white;
}

.subscription_info .text-success p a.custom-link {
	font-size: 12px;
	background-color: #2f8519;
	color: white;
	padding: 3px;
	border-radius:5px;
	text-decoration: none;
	margin-left:10px;
	opacity: .95;
}

.subscription_info .text-success p a.custom-link:hover {
	opacity: 1;
	font-size: 14px;
}

.subscription_info .text-success .text .day_count {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0187DB;
    text-align: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    padding: 1px;
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 100%;
}

.subscription_info .text-success .text a {
    color: #0075BF;
    text-decoration: underline;
    font-size: 15px;
    padding-left: 3px;
}

/*
* pricing page css
*/
.subscription-upgradeplan {
    background: #f2fbff;
    margin-top: 0 !important;
}

.subscription-upgradeplan .container {
    padding-top: 20px;
}

.pricing {
    padding: 0 0 162px;
}

.pricing-title {
    padding-bottom: 20px;
}

.pricing-title .h3 {
    margin: 0;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 58px;
    text-align: center;
    color: #152245;
}

.plans {
    display: flex;
    justify-content: center;
}

.plans .columns {
    float: left;
    width: 379px;
    background: #0187DB;
    box-shadow: 5.9773px 5.9773px 32.4482px rgba(1, 81, 131, 0.14);
    border-radius: 8px;
    padding: 38px 36px 36px;
    margin-left: 59px;
	opacity: .7;
}

.plans .columns.premium-plan {
    background: #0187DB;
    box-shadow: 5.9773px 5.9773px 32.4482px rgba(1, 81, 131, 0.14);
    border-radius: 8px;
	opacity: 1;
}

.plans .columns:first-child {
    margin-left: 0;
	float: left;
    box-shadow: 5.9773px 5.9773px 32.4482px rgba(1, 81, 131, 0.14);
    border-radius: 8px;
	background-color: #ffffff;
    padding: 15px;
	opacity: 1;
}

.plans .price {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.plans .price li {
    color: #35446d;
    border-bottom: 0;
    padding: 0 0 15px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Gilroy';
    display: flex;
    width: 100%;
}

.plan_name_display {
    display: inline-block !important;
}

.plans .price .plan_name {
    padding-top: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #35446d;
    padding-bottom: 5px;
}

.plans .premium-plan .price .plan_name {
    padding-top: 0;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.plans .price .plan_interval {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #35446d;
    border-bottom: 2px solid #E1EFF7;
    padding-bottom: 15px;
}

.plans .price .plan_interval.font_size {
    font-size: 26px;
}

.plans .premium-plan .price .plan_interval {
    color: #FFFFFF;
}

.plans .price .plan_interval .plan_type {
    padding-top: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.2px;
}

.plans .premium-plan li {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    display: inline-block;
    width: 100%;
}

.plans .premium-plan li .svg_img,
.plans .columns li .svg_img {
    width: 30px;
    float: left;
}

.plans .premium-plan li .text-area,
.plans .columns li .text-area {
    width: 276px;
    padding-top: 2px;
    float: left;
}

.plans .columns .free-plan-button {
    padding: 0;
    margin: 20px 0 0;
    background: #FFFFFF;
    border: 1.7078px solid #0187DB;
    border-radius: 8px;
}

.plans .columns .free-plan-button.school_admin {
    margin: 30px 0 0;
}

.plans .columns .free-plan-button.disabled {
    pointer-events: none;
    opacity: .5;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}

.plans .premium-plan .info-txt {
    font-family: 'Gilroy';
    padding-top: 10px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

.plans .premium-plan .submit-button {
    margin: 0 auto;
    width: 307px;
    height: 52px;
    background: #FFF;
    border: 1.7078px solid #0187DB;
    border-radius: 8px;
}


.plans .premium-plan .submit-button a,
.plans .columns .free-plan-button a {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #0187DB;
    text-decoration: none;
	opacity: .9;
}

.plans .premium-plan .submit-button a:hover,
.plans .columns .free-plan-button a:hover {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 23px;
    line-height: 24px;
    color: #0187DB;
    text-decoration: none;
	opacity: 1;
}


/*
** subscription-form css
*/
.subscribe-plan {
    background: #f2fbff;
    margin-top: 0 !important;
    min-height: 40vw;
}

.subscribe-plan .container {
    padding: 85px 0 99px;
}

.subscription-form-wrapper {
    margin: 0 auto;
    width: 492px;
    background: #FFFFFF;
    box-shadow: 5.9773px 5.9773px 32.4482px rgba(1, 81, 131, 0.14);
    border-radius: 8px;
    padding: 44px;
}

.subscription-form-wrapper p,
.subscription-form-wrapper h4,
.subscription-form-wrapper h2,
.subscription-form-wrapper h3 {
    padding: 0;
    margin: 0;
}

.subscription-form-wrapper .payment-info-top .h4 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #152245;
}

.subscription-form-wrapper .payment-info-top .txt {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #152245;
}

 .subscription-plan-info {
    margin-top: 0px;
}

 .subscription-plan-info .h4 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #0187DB;
}

 .subscription-plan-info .h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #0187DB;
}

 .subscription-plan-info .h2 .intervation_type {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.2px;
}

.subscription-form-wrapper .payment-form {
    padding: 16px 0 0;
}

.subscription-form-wrapper .payment-form label {
    padding: 0 0 5px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #657E8E;
}

.subscription-form-wrapper .payment-form .StripeElement,
.subscription-form-wrapper .payment-form .form-control {
    border: 1px solid #C0E7FF;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    height: 40px;
    line-height: 35px;
    color: #002A44;
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.subscription-form-wrapper .payment-form .StripeElement.invalid {
    border: 1px solid #E25950;
    border-radius: 4px;
}

.subscription-form-wrapper .payment-form .form-group {
    padding-bottom: 6px;
}

.subscription-form-wrapper .payment-form .form-control::placeholder {
    color: #002A44;
    opacity: 1;
}

.subscription-form-wrapper .payment-form .form-control:-ms-input-placeholder {
    color: #002A44;
}

.subscription-form-wrapper .payment-form .form-control::-ms-input-placeholder {
    color: #002A44;
}

.subscription-form-wrapper .payment-form .col_sep_div {
    display: flex;
}

.subscription-form-wrapper .payment-form .padding_left {
    margin-left: 5px;
    width: 50%;
}

.subscription-form-wrapper .payment-form .padding_right {
    margin-right: 5px;
    width: 50%;
}

.subscription-form-wrapper .button-area {
    margin-top: 15px;
}

.subscription-form-wrapper .button-area .btn_c {
    width: 98px;
    height: 52px;
    margin-right: 8px;
    background: #FFFFFF;
    cursor: default;
}

.subscription-form-wrapper .button-area .btn-cancle {
    border-radius: 8px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #657E8E;
    text-decoration: none;
}

.subscription-form-wrapper .button-area .btn-blue {
    width: 294px;
    height: 52px;
    background: #0187DB;
    border-radius: 8px;
    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.arrow-shape::before {
  content: "";
  position: absolute;
  top: 29px;
  right: -31px;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 30px solid #c9d1d3; /* Couleur de la flèche */
  transform: skewX(0deg);
  z-index: 9999;
}

.payment-footer-wrapper {
    margin-top: 23px;
}

.payment-footer-wrapper .title {
    margin: 0 0 8px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #657E8E;
}

.payment-footer-wrapper .f-txt {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 127%;
    color: #657E8E;
}

.payment-footer-wrapper .f_margin_top {
    margin-top: 25px;
}


/*
** my-subscription-billing css
*/

.my_subscription {
    border: 0px solid #E1EFF7;
    width: 100%;
}

.my-subscription-billing .title {
    padding: 25px 0;
}

.my-subscription-billing .title .h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #0075BF;
}

.my_subscription_billing tr {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    padding: 5px 0 6px;
}

.my_subscription_billing tr td {
    padding: 20px 0 21px;
}

.my_subscription_billing tr td:first-child {
    width: 30%;
    padding: 20px 0 21px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 21px;
    color: #152245;
}

.my_subscription_billing tr td:last-child {
    padding: 20px 0 21px;
    padding-left: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    color: #152245;
}

.my_subscription_billing .price {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 21px;
    color: #152245;
}

.my_subscription_billing .payment_shudule {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #152245;
}

.my_subscription_billing .plan_type_p {
    padding: 4px 8px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #97CC04;
    background: #F6FFDB;
    border: 1px solid #97CC04;
    border-radius: 4px;
}

.my_subscription_billing .plan_type_f {
    padding: 4px 8px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #657E8E;
    background: #F0F0F0;
    border: 1px solid #657E8E;
    border-radius: 4px;
}

.my_subscription_billing .interval {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #152245;
}

.my_subscription_billing .action_link {
    text-decoration: none;
}

.my_subscription_billing .action_icon {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.subscriber_list {
    height: 55vw;
}

.my_subscription_billing .plan_type {
    background: #F6FFDB;
    border: 1px solid #97CC04;
    border-radius: 4px;
    padding: 4px 8px;
    color: #97CC04;
}

.my_subscription_billing .plan_type_free {
    padding: 4px 8px;
    background: #F0F0F0;
    border: 1px solid #657E8E;
    border-radius: 4px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #657E8E;
}

.my-subscription-billingmy-subscription .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.my-subscription-billing .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.my-subscription-billing .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.my-subscription-billing .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.my-subscription-billingmy-subscription-billing .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.my-subscription-billing .mb-3,
.my-subscription-billing .my-3 {
    margin-bottom: 1rem !important;
}

.subscribe-upgradenewplan .subscription-form-wrapper {
    margin-top: 60px;
}

/*
** my subscription css
*/

.my_subscription {
    border: 0px solid #E1EFF7;
    width: 100%;
}

.my-subscription .title {
    padding: 25px 0;
}

.my-subscription .title .h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #0075BF;
}

.my_subscription tr {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    padding: 5px 0 6px;
}

.my_subscription tr td:first-child {
    width: 30%;
    padding: 10px 0 8px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 21px;
    color: #152245;
}

.my_subscription tr td:last-child {
    width: 70%;
    padding: 20px 0 21px;
    padding-left: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    color: #152245;
}

.my_subscription .price {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 21px;
    color: #152245;
}

.my_subscription .payment_shudule {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #152245;
}

.my_subscription .plan_type_p {
    padding: 4px 8px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #97CC04;
    background: #F6FFDB;
    border: 1px solid #97CC04;
    border-radius: 4px;
}

.my_subscription .plan_type_f {
    padding: 4px 8px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #657E8E;
    background: #F0F0F0;
    border: 1px solid #657E8E;
    border-radius: 4px;
}

.my_subscription .interval {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #152245;
}

.my_subscription .action_link {
    text-decoration: none;
}

.my_subscription .action_icon {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.subscriber_list {
    height: 55vw;
}

.my_subscription .plan_type {
    background: #F6FFDB;
    border: 1px solid #97CC04;
    border-radius: 4px;
    padding: 4px 8px;
    color: #97CC04;
}

.my_subscription .plan_type_free {
    padding: 4px 8px;
    background: #F0F0F0;
    border: 1px solid #657E8E;
    border-radius: 4px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #657E8E;
}

.my-subscription .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.my-subscription .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.my-subscription .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.my-subscription .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.my-subscription .gutters-sm>.col,
.my-subscription .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.my-subscription .mb-3,
.my-subscription .my-3 {
    margin-bottom: 1rem !important;
}

.subscribe-upgradenewplan .subscription-form-wrapper {
    margin-top: 60px;
}

/* .plan_center .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.plan_center .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.plan_center .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.plan_center .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.plan_center .price .grey {
    background-color: #eee;
    font-size: 20px;
}

.plan_center .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
} */

.pc_only {
    display: block;
}

.sp_only {
    display: none;
}

/**
* nav bar adjustment
***/


.user-area {
text-align: center;
}

/*
** Other adjustment
**
*/
.teacherhome,
.studenthome {
    padding-top: 85px;
}

.fc-unthemed .fc-list-empty {
background-color: #ffffff;
}

.sp_main_footer {
    display: none;
}

.badgePremium {
	position: absolute; right:100px; top:130px;
	z-index:999;
}

.card {
	box-shadow: 0px 10px 5px -10px #111;
}

@media only screen and (min-width: 1200px) {
#cal_title {
	font-size: 23px;
}
}

@media only screen and (max-width: 992px) {

	.custom-collapse {
		position: fixed;
		top: 60px;
		left: 0;
		height: 100vh;
		width: 100%;
		background-color: transparent;
		display: none;
		z-index: 9999;
	}

	.custom-collapse.show {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #152245; /* Couleur de fond du menu */
		animation: fadeIn 0.3s ease;
	}

	.custom-collapse.hide {
		animation: fadeOut 0.3s ease forwards;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fadeOut {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	.badgePremium {
		display: none;
	}

    body {
        margin-bottom: 70px;
    }

    .plan_center .columns {
        width: 100%;
    }

    .pc_only {
        display: none;
    }

    .sp_only {
        display: block;
    }

	.arrow-shape::before {
		display: none;
	}

	.payment-form .button-area .btn {
		width: 100%;
		margin-top:5px;
		margin-bottom:12px;
	}

	.payment-form form {
		padding-top: 5px;
		padding: 5px;
	}

    /*
    * top payment info section sp
    */
    .subscription-upgradeplan {
        padding-top: 30px;
    }

	.subscription_info {
		display: none;
	  }

    .subscription_info .text-success p {
        height: 35px;
        font-size: 13px;
		padding:1px;
    }

    .subscription_info .text-success .text .day_count {
        width: 20px;
        height: 20px;
        padding: 5px;
        font-size: 14px;
    }

    .subscription_info .text-success .text a {
        font-size: 14px;
    }

    .pricing {
        padding: 0 0 29px;
    }

    .pricing-title {
        padding-bottom: 29px;
    }

    .pricing-title .h3 {
        font-size: 28px;
        line-height: 34px;
    }

    .plans {
        display: flex;
        flex-direction: column;
    }

    .plans .columns {
        width: 100%;
        height: unset;
        padding: 30px;
        margin-left: 0;
    }

    .plans .sp_order {
        order: 2;
        margin-top: 24px;
    }

    .plans .premium-plan {
        order: 1;
    }

	.plans .columns:first-child {
		margin-bottom:25px;
	}

    .plans .premium-plan li .svg_img,
    .plans .columns li .svg_img {
        width: 10%;
        float: left;
    }

    .plans .premium-plan li .text-area,
    .plans .columns li .text-area {
        width: 90%;
        padding-top: 2px;
        float: left;
    }

    .plans .columns .free-plan-button {
        margin: 24px 0 0;
    }

    .plans .premium-plan .submit-button {
        width: 100%;
    }



    .user-area {
        display: inline-block;
        padding-left: 0px;
    }

    .sp_main_footer {
        position: fixed;
        display: block;
        padding: 0;
        width: 100%;
        bottom: 0%;
        height: 65px;
        background: #152245;
        z-index: 2;
    }

    .sp_main_footer .footer_sp_menu ul {
        height: 65px;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .sp_main_footer .footer_sp_menu ul li {
        width: 20%;
    }

    .sp_main_footer .footer_sp_menu ul li a {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-decoration: none;
        color: #FFFFFF;
    }

    .sp_main_footer .footer_sp_menu ul li a span {
        display: block;
    }

    .sp_main_footer .footer_sp_menu ul li a .menu {
        padding-top: 7px;
    }
}

.withPaddingTop {
	padding-top:80px;
}


.multiselect-item .input-group .input-group-addon {
	display:none;
}

.multiselect-item .input-group .input-group-btn {
	display:none;
}

.multiselect-item .input-group .multiselect-search {
	width: 200px;
	border-radius:7px;
}

.multiselect-container .multiselect-all.active:not(.multiselect-active-item-fallback), .multiselect-container .multiselect-all:not(.multiselect-active-item-fallback):active, .multiselect-container .multiselect-group.active:not(.multiselect-active-item-fallback), .multiselect-container .multiselect-group:not(.multiselect-active-item-fallback):active, .multiselect-container .multiselect-option.active:not(.multiselect-active-item-fallback), .multiselect-container .multiselect-option:not(.multiselect-active-item-fallback):active {
    background-color: #ffffff;
    color: #000;
}
/*
.multiselect-container span:hover {
    color: #213db8;
	background-color: #eee;
}*/
