
@import "/css/admin_main_style.css";

.login-signup-modal.mt-200 {
    margin-top: 15%;
}
.m-4.top{
    margin:0px!important;
    background-color: #152245!important;
}
.bg-light {
    background-color: #152245!important;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
span.admin_name {
    font-size: 18px;
    color: #fff;
    line-height: 45px;
    font-weight: 200;
    margin-right: 20px;
}
img.admin_logo {
    border-radius: 90px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
label#page_header {
    color: #0075BF;
    float: left;
    font-size: 28px;
    font-family: 'Gilroy-Bold';
    padding: 0;
    margin: 0;
    position: relative;
    text-align: left;
    border: 0px;
    width: 100%;
} 
.nav-tabs .nav-link {
    padding-left: 0;
}
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
    padding-left: 0;
    background-color: #fff;
    font-family: 'Gilroy-Bold';
    font-weight: bold;
    color: #3b75bf;
    cursor: default;
    background-color: #fff;
    border: 0;
    border-bottom: 4px solid #3b75bf;
}
header.panel-heading {
    margin: 40px 0;
}
nav {
    margin-bottom: 40px;
}
.section_header_class label {
    color: #152245;
    font-size: 20px;
    font-family: 'Gilroy-Bold';
    margin: 15px 0 40px 0;
    text-align: left;
    font-weight: normal;
}
.form-group.row {
    margin-bottom: 20px;
}
.form-group.row label{
    margin-top: 10px;
}
.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #0075BF;
    text-align: center;
    background-color: #B3D6EC;
    border: 1px solid #B3D6EC;
    border-radius: 4px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dot {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  /*background-color: #FF0000;*/
  font-size: 0px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
}
.form-control{
    box-shadow: none!important;
    outline: none;
}

/* add language page css */

.page_title{
    margin-bottom:40px!important;
}
.language_page label,
.email_template_page label,
.update_profile_page label{
    color: #657E8E;
    font-size: 15px;
    padding-right:10px;
    margin-top:10px;
}
.language_page .form-group.row,
.email_template_page .form-group.row ,
.update_profile_page .form-group.row {
    margin-bottom: 10px;
}
.save_button,
.update_button{
    font-size: 14px;
    background-color: #97CC04;
    border:none;
}
.save_button:hover,
.update_button:hover{
    color:#000;
    background-color: #97CC04;
}
.save_button i.fa,
.update_button i.fa {
    margin-right: 2px;
    font-size: 14px;
}
.email_template_page .save_button,
.update_profile_page .save_button{
    margin-top:10px;
}
.table-responsive {
    margin-top: 80px;
}
.selectbox {
    position: relative;
}
.selectbox:after {
    font-family: FontAwesome;
    content: "\f078";
    line-height: 1;
    color: #0075BF;
    width: 25px;
    height: 33px;
    right: 1%;
    position: absolute;
    top: 10px;
}
h4.section_header_class{
    color: #152245;
    font-size: 20px;
    font-family: 'Gilroy-Bold';
    margin: 15px 0;
    text-align: left;
    font-weight: normal;
    margin-bottom: 25px;
}
table.email_template{
    border: 1px solid #E1EFF7!important;
}
table.email_template td, 
table.email_template th{
    vertical-align: middle;
    border:1px solid #E1EFF7;
    padding: 19px;

    display:block;
    width:99.9%;
    clear:both;
}
table.email_template.school td, 
table.email_template.school th{
    vertical-align: middle;
    border:none;
    padding: 19px;

    display:block;
    width:99.9%;
    clear:both;
}

table.tc_template{
    border: 1px solid #E1EFF7;
}
table.tc_template td, 
table.tc_template th{
    vertical-align: middle;
    border:1px solid #E1EFF7!important;
    padding: 19px;

    display:block;
    width:99.9%;
    clear:both;
}

table.tc_template, table.tc_template tr, table.tc_template th, table.tc_template td {
    /* border: 0px solid white; */
   
    line-height: 3em;
    padding: 0px;
    font-weight: bolder;
}
table.tc_template .detail_header {
    
    background-color: #ccccff;
    padding: 5px;
    border: 1px solid black;
    font-weight: bolder;
    text-align: center;
}
.delete_event,
.delete_location,
.delete_level{
    background-color: #FF8000;
    border-color: #FF8000;
    color: #FFF;
    font-size: 18px;
}
.invoice_type_label {
    padding-left: 12%;
}
#nav-tab .nav-link{
    margin-right:15px;
    color:#657E8E;
}
#nav-tab .nav-link.active{
    color:#3b75bf
}
#nav-tab .nav-link:hover{
    border:0px;
}
#nav-tab .nav-link.active:hover{
    border-bottom: 4px solid #3b75bf;
}
.navbar-nav.user-area {

}
.navbar-nav.user-area a.user_profile{
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 12px 10px 10px 10px;
    font-family: 'Gilroy-Regular';
    font-size: 17px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



.navbar-nav.user-area a.user_profile.active, 
.navbar-nav.user-area a.user_profile:hover, 
.navbar-nav.user-area a.user_profile:focus {
    background: #0075BF;
    color: #152245;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dropdown-menu.show {
    display: block;
    background: #35404d;
    max-width: 180px;
    margin-top: 0px;
    right:0;
    left:auto;
    padding-top: 0;
    padding-bottom: 0;
}
.dropdown-menu a {
    font-size: 12px;
    padding: 12px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
    line-height: 20px;
    text-align:right;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dro_set {
    width: 26px;
    margin-top: 7px;
    margin-left: 0px;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 17px;
}
.dropdown-menu a:hover{
    color: #479CCF;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    background: #0075BF;
}
.dropdown-toggle::after{
    content:none;
}
.permission-btn{
    margin-left: 100px;
    background-color: gray;
}
.modal_parameter .modal-content p {
    font-size: 22px;
    color: #0075BF;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    padding: 0;
}
.modal_parameter .modal-footer {
    border: 0;
}
.modal_parameter .modal-footer {
    border: 0;
    width: 100%;
    display: block;
}
.modal_parameter .modal-footer button{
    margin: 0 auto;
    display: block;
    width: 120px;
}
input.error {
    border: 2px solid red;
}
.profile-image-cropper.responsive {
    display: flex;
    align-items: center;
}
.img-circle {
    border-radius: 50%;
}
.btn-theme-success {
    background-color: #97CC04;
    border-color: #97CC04;
    color: #FFF;
}
.btn-theme-warn {
    background-color: #FF8000;
    border-color: #FF8000;
    color: #FFF;
}
@media only screen and (max-width: 768px){
    .language_page label,
    .email_template_page label,
    .update_profile_page label {
        text-align: left!important;
        padding-bottom: 8px;
    }
    .save_button {
        font-size: 14px;
        margin-top: 20px;
    }
    .table-responsive {
        margin-top: 40px;
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .navbar-toggler{
        width:60px;
    }
    span.icon-bar {
        height: 2px;
        background-color: #fff;
        margin: 5px 0;
        float: left;
        width: 100%;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        border: none;
        outline: none;
    }
    .section_header_class label {
        margin: 15px 0 ;
        font-size: 17px;
    }
    .form-group.row.invoice_part {
        margin-top: -4px;
        margin-left: 10px;
        font-size: 15px;
    }
    .form-group.row.invoice_part  label {
        margin-top: 4px;
    }

}   